<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Folding@Home - COVID-HEAL</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
<meta name="google-site-verification" content="_Hn1oHzeYV6GNDiZk1dFGrGvCdw6FPTNb5TZgjhL8CI"/>

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">


  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="style/modal.css" rel="stylesheet">

  <script src="scripts/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162159476-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162159476-1');
  </script>


    <script>

      if (location.protocol !== 'https:') {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);
      }

    </script>



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">COVID-HEAL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/home">Home</a></li>
            <li><a href="/camera">Face Touch Reminder</a></li>
            <li><a href="/news">Current News</a></li>
            <li><a href="/relax">Relax</a></li>
            <li><a href="/foldingathome">Help Out</a></li>
            <li onclick = "showModal()"><a>Change Info</a></li>
            <li class="drop-down"><a href="#">About</a>
                <ul>
                    <li class="active"><a href="/team">Team</a></li>
                </ul>
            </li>

          <!-- <li class="get-started"><a
                    href="https://baseline.google.com/enroll/begin/covid19mtch?_ga=2.64073896.641749093.1585415093-474750.1585415093"
                    target="_blank">Get tested!</a></li> -->

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Folding At Home</h2>
            <p>An easy way to help find cures for diseases like Covid-19</p>
            <a class="action"
               href="https://docs.google.com/document/d/18MbKeipDbR_OfW_iRO4hGqNnib1Fti5rIgtfW9IerlY/edit?usp=sharing" target = "_blank">START HELPING!</a><br
          </div>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
    <br>
    <br>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="../assets/img/folding1.jpg" class="img-fluid" alt="">
            <img src="../assets/img/folding4.png" class="img-fluid" alt="">
            <img src="../assets/img/folding3.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="portfolio-description">
          <h2>What is Folding At Home?</h2>
          <p>
            Folding@home is a crowdsourced project that focuses on protein folding & other biomedical problems, like Alzheimer's disease, cancer, Ebola,
            and recently Covid-19. The project uses your idle computers to run simulations that give scientists a better understanding of diseases
            and bring them one step closer to finding a cure.
          </p>
          <a href = "https://foldingathome.org/" target = "_blank">If you want to learn more, please click me</a><br><br>
          <h2>Why Should I Care?</h2>
          <p>
            As of right now, scientists are rushing to find treatments & vaccines for Covid-19. Folding@home is a major contributer because the project
            trys to understand how viral proteins, the main component of the Coronavirus, work, and how scientists can design therapeutics to stop them.
            Contributing to the project is the best way that we can help the world stop this pandemic!
          </p>
          <h2>How Can I Help?</h2>
          <p>
            All Folding@home requires from you is your idle computer. Whenever you aren't using your computer, the project will be using your computer
            to run its simulations. This is a win-win situation for everyone, because Folding@home gets a step closer to finding a cure for Covid-19,
            and you are able to contribute.
            Please visit the link below on instructions to get started.
          </p>
          <a href = "https://docs.google.com/document/d/18MbKeipDbR_OfW_iRO4hGqNnib1Fti5rIgtfW9IerlY/edit?usp=sharing" style = "font-size: 5vw" target = "_blank">Start Folding Now!</a><br><br>

        </div>

      </div>

    </section><!-- End Portfolio Details Section -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p>Please input the following:</p>
            <label for="name">Location:</label><br>
              <input type="text" id="location" name="location" value="" onkeyup = "updateLocation()"><br>
              <p id = "state"></p>
               <p id = "error" style = "color: red"></p>
            <input type="submit" value="Submit" onclick = "submit()">
            <br>
            <input type="button" id = "close" value="Cancel" onclick = "closeModal()">

        </div>

    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>COVID-HEAL</h3>
            <p>We are three high school students making an effort towards preventing the spread of COVID-19.
              Please support us by sharing this link with others.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/team">About us</a></li>
              <li><a href="/camera">Services</a></li>
              <li><a href="/termsofservice" target="_blank">Terms of service</a></li>
              <li><a href="/privatepolicy" target="_blank">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Email:</strong> covid19heal@gmail.com<br>
              Powered by NewsAPI.org, Smartable, & Forismatic
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>COVID-HEAL</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Developed by <a href="https://bootstrapmade.com/">Labdhi Jain, Ashay Parikh, Sohum Bhole<br> S/O to
          BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/counterup/counterup.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

  </body>

  </html>
