<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Camera</title>
  <meta name="description" content="Title">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/main.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"> </script>
  <script src="scripts/main.js"></script>
  <script src="scripts/camera.js"></script>

</head>

<body>

  <video id="video" width="640" height="480" autoplay></video>
  <canvas id="canvas" width="640" height="480"></canvas><br>



</body>
</html>
