<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>COVID-HEAL</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="style/modal.css" rel="stylesheet">

  <script src="scripts/main.js"></script>

  <script>

  // if (location.protocol !== 'https:') {
  //   location.replace(`https:${location.href.substring(location.protocol.length)}`);
  // }

  </script>
  <!-- =======================================================
  * Template Name: Serenity - v2.0.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body onload="getNews()">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">COVID-HEAL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/home">Home</a></li>
            <li><a href="/camera">Face Touch Reminder</a></li>
            <li class="active"><a href="/news">Current News</a></li>
            <li><a href="/relax">Relax</a></li>
            <li onclick = "showModal()"><a>Change Info</a></li>
            <!--<li><a href="blog.html">Blog</a></li>-->
            <!--<li><a href="contact.html">Contact</a></li>-->
            <li class="drop-down"><a href="#">About</a>
                <ul>
                    <li><a href="/team">Team</a></li>

                    <!--<li class="drop-down"><a href="#">Drop Down 2</a>-->
                    <!--<ul>-->
                    <!--<li><a href="#">Deep Drop Down 1</a></li>-->
                    <!--<li><a href="#">Deep Drop Down 2</a></li>-->
                    <!--<li><a href="#">Deep Drop Down 3</a></li>-->
                    <!--<li><a href="#">Deep Drop Down 4</a></li>-->
                    <!--<li><a href="#">Deep Drop Down 5</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </li>

            <li class="get-started"><a
                        href="https://baseline.google.com/enroll/begin/covid19mtch?_ga=2.64073896.641749093.1585415093-474750.1585415093" target = "_blank">Get tested!</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Stay Update on the Latest News!</h2>
            <p>Scroll down to see the news based on your location</div>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->



    <section id="features" class="features">
      <div class="container">

        <div class="row" id = "allnews">

            <!-- <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" id="news1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="" id="ti1">Our Mission</a></h5>
                        <p class="card-text" id="para1">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
                            tempor ut labore et dolore magna aliqua.</p>
                          <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>


          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title"><a href="" id="ti2">Our Plan</a></h5>
                  <p class="card-text" id="para2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                      doloremque laudantium, totam rem.</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title"><a href="" id="ti3">Our Vision</a></h5>
                  <p class="card-text" id="para3">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed
                      quia magni dolores.</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title"><a href="" id="ti4">Our Care</a></h5>
                  <p class="card-text" id="para4">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                      laudantium voluptatem.</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section>


      <!-- The Modal -->
      <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <p>Please input the following:</p>
              <label for="name">Location:</label><br>
                <input type="text" id="location" name="location" value="" onkeyup = "updateLocation()"><br>
                <p id = "state"></p>
                 <p id = "error" style = "color: red"></p>
              <input type="submit" value="Submit" onclick = "submit()">
              <br>
              <input type="button" id = "close" value="Cancel" onclick = "closeModal()">

          </div>

      </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>COVID-HEAL</h3>
            <p>We are three high school students making an effort towards preventing the spread of COVID-19.
              Please support us by sharing this link with others.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/team">About us</a></li>
              <li><a href="/camera">Services</a></li>
              <li><a href="/termsofservice" target = "_blank">Terms of service</a></li>
              <li><a href="/privatepolicy" target = "_blank">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              700 East Cougar Trail <br>
              Hoffman Estates, IL<br>
              United States <br>
              <strong>Email:</strong> covid19heal@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>COVID-HEAL</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Labdhi Jain, Ashay Parikh, Sohum Bhole<br> S/O to BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/js/news.js"></script>
  <script crossorigin="anonymous" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/counterup/counterup.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>


  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>
