<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Private Policy - COVID-HEAL</title>
  <meta name="description" content="Private Policy">
  <meta name="author" content="SitePoint">
<meta name="google-site-verification" content="_Hn1oHzeYV6GNDiZk1dFGrGvCdw6FPTNb5TZgjhL8CI"/>

  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162159476-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162159476-1');
  </script>



  <style>
    body {
      text-align: center;
      font-family: 'Slabo 27px', serif;
      background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }

    p {
      color: black;
      font-weight: bold;
      font-size: 15px;
    }
    h3 {
      font-size: 25px;
      font-style: oblique;
    }

    h1 {
      font-size: 65px;
      font-weight: bold;
    }

    .rounded {
      padding: 20px;
      line-height: 2;
      border-style: dashed;
    }
  </style>

</head>

<body>

  <h2>Privacy Policy of <span class="website_url">covidheal.org</span></h2>

  <div class = "rounded">
  <p>At <span class="website_name">COVID-HEAL</span>, we collect and manage user data according to the following Privacy Policy.</p>

  <h3>Data Collected</h3>

  <p>We collect information you provide directly to us. For example, we collect information when you create an account, subscribe, participate in any interactive features of our services, fill out a form, request customer support or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, credit card information and other contact or identifying information you choose to provide.</p>

  <p>We collect anonymous data from every visitor of the Website for analytics. For example, we collect information like web requests, the data sent in response to such requests, the Internet Protocol address, the browser type, the browser language, and a timestamp for the request.</p>

  <p>We also use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our services or emails and to track count visits or understand usage and campaign effectiveness.</p>

  <h3>Use of the Data</h3>

  <p>We only use your personal information to provide you the <span class="website_name">COVID-HEAL</span> services or to communicate with you about the Website or the services. Our Privacy Policy was created with the help of the <a href="https://www.privacy-policy-template.com">Privacy Policy Template</a> and the <a href="https://www.termsandcondiitionssample.com">Terms and Conditions Template</a>.</p>

  <p>We employ industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.</p>

  <p>We do not share personal information you have provided to us without your consent.</p>

  <h3>Sharing of Data</h3>

  <p>We don't share your personal information with third parties. Aggregated, anonymized data is periodically transmitted to external services to help us improve the Website and service.</p>

  <p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information.</p>

  <p>We also use social buttons provided by services like Twitter, Google+, LinkedIn and Facebook. Your use of these third party services is entirely optional. We are not responsible for the privacy policies and/or practices of these third party services, and you are responsible for reading and understanding those third party services' privacy policies.</p>

  <h3>Cookies</h3>

  <p>We only use client-side cookies to store your location, which are used for our services.</p>

  <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>

  <h3>Opt-Out, Communication Preferences</h3>

  <p>You may modify your communication preferences and/or opt-out from specific communications at any time. Please specify and adjust your preferences.</p>

  <h3>Camera Use</h3>

  <p>We only access your camera to detect whether you are touching your face or not. We do this locally and do not save any videos.
    We will ask for you persmission before accessing your video.</p>

  <p>There is not guarantee that the camera will function on your device.
    Some iOS and other mobile devices do not allow us to access your camera, which disrupts one of our services.</p>

  <h3>Security</h3>

  <p>We take reasonable steps to protect personally identifiable information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. But, you should keep in mind that no Internet transmission is ever completely secure or error-free. In particular, email sent to or from the Sites may not be secure.</p>

  <h3>About Children</h3>

  <p>The Website is not intended for children under the age of 13. We do not knowingly collect personally identifiable information via the Website from visitors in this age group.</p>

  <h3>Changes to the Privacy Policy</h3>

  <p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.</p>

  <p>If we make major changes in the way we collect or use information, we will notify you by posting an announcement on the Website or sending you an email.</p>

</div>
</body>
</html>
