<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team - COVID-HEAL</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="style/modal.css" rel="stylesheet">

  <script src="scripts/main.js"></script>

  <script>

  if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
  }

  </script>
  <!-- =======================================================
  * Template Name: Serenity - v2.0.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">COVID-HEAL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/home">Home</a></li>
            <li><a href="/camera">Face Touch Reminder</a></li>
            <li><a href="/news">Current News</a></li>
            <li><a href="/relax">Relax</a></li>
            <li onclick = "showModal()"><a>Change Info</a></li>
            <li class="drop-down"><a href="#">About</a>
                <ul>
                    <li class="active"><a href="/team">Team</a></li>
                </ul>
            </li>

          <li class="get-started"><a
                    href="https://baseline.google.com/enroll/begin/covid19mtch?_ga=2.64073896.641749093.1585415093-474750.1585415093" target = "_blank">Get tested!</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Meet the Team!</h2>
            <!--<p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>-->
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Team</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="../assets/img/team/labdhi_img.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/LabdhiJ25905117" target = "_blank"><i class="icofont-twitter"></i></a>
                  <a href="https://www.instagram.com/jain196/" target = "_blank"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/labdhi-jain/" target = "_blank"><i class="icofont-linkedin"></i></a>
                  <a href="https://github.com/nunu2021" target = "_blank"><i class="icofont-github"></i></a>
                  <a href="mailto:labdhijain753@gmail.com" target = "_blank"><i class="icofont-email"></i></a>


                </div>
              </div>
              <div class="member-info">
                <h4>Labdhi Jain</h4>
                <span>Co-Developer</span>
                <p>Labdhi is from near Chicago, and is a Junior attending James B. Conant High School. Labdhi has been
                  programming for over 3 years, including learning and wants to continue it in her career. Labdhi loves
                  working with different languages, and environments, and coding in them., such as Java, Python,
                  JavaScript, HTML, CSS, Swift, and many more! In the past year, Labdhi has attended and won several
                  Hackathons, across the nation such as Hack Cincinnati, HackSTL, Build Chicago, and Windy City Hacks.
                  <br><br>
                  Other than programming, Labdhi also has a strong motto to make a change in the world, and help others
                  in need. She has already taken small steps, by volunteering, organizing hackathons like Code211 and
                  SheBuilds, and developing Mobile Apps that benefit the society and environment.
                  <br><br>
                  Labdhi is a very fun and creative person. In her free time, Labdhi loves spending time with her
                  family, singing-which she has been learning for 8 years-,oil painting, and playing badminton.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../assets/img/team/ashay_img.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/ashayp22" target="_blank"><i class="icofont-github"></i></a>
                    <a href="https://www.youtube.com/channel/UCC-lrzuSt77LJjqa7bOCYjw" target="_blank"><i
                                class="icofont-youtube"></i></a>
                  <a href="mailto:ashayp22@gmail.com" target="_blank"><i class="icofont-email"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ashay Parikh</h4>
                <span>Co-Developer</span>
                <p>Ashay is a current junior at James B. Conant High School, located in Illinois. He is an avid computer
                  programmer and is skilled in many languages, particularly Python, Javascript, C#, and Swift. Also,
                  Ashay enjoys creating applications for mobile and web platforms, with 8 iOS apps and over 30 websites &
                  web apps. Currently, Ashay is using his mathematical and computer science knowledge to learn how to
                  develop and apply AI & ML models.
                  <br><br>
                  In his free time, Ashay loves participating in hackathons and math contests. He also likes visiting
                  and exploring different national parks, his favorite being Denali National Park in Alaska. When he
                  isn't coding, Ashay can be found playing basketball, creating YouTube videos, or catching up on the
                  latest Marvel comic book.</div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../assets/img/team/sohum_img.JPG" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Sohum Bhole</h4>
                <span>Co-Developer</span>
                <p>From the suburbs of Chicago, Sohum is a junior currently attending James B. Conant Highschool.
                  He is a skilled programmer with three years of experience under his belt and has a thirst for knowledge.
                  To him, setbacks are just learning experiences that can be used to grow upon.
                  His current favorite languages are HTML and Javascript but he is also quite comfortable with Java, Python, Swift, and gd script.
                  Sohum likes making games that he can share with others, not afraid to experiment with new languages and softwares.
                   He also loves to go to Hackathons all around the U.S (including Chicago, Cincinnati, and Universities) and has
                   organized Code211, a hackathon for his school district. In these Hackathons, Sohum makes new friends and meets people
                   in the industry that he can connect to and learn from.
                   <br><br>
                   Apart from coding, Sohum loves biking around the neighborhood, playing tennis, and spending time with friends.
                   He is also very interested in helping out his community, whether it be volunteering or supporting others.
                 </p>
              </div>
            </div>
          </div>

          <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
          <!--<div class="member" data-aos="fade-up">-->
          <!--<div class="member-img">-->
          <!--<img src="../assets/img/team/team-4.jpg" class="img-fluid" alt="">-->
          <!--<div class="social">-->
          <!--<a href=""><i class="icofont-twitter"></i></a>-->
          <!--<a href=""><i class="icofont-facebook"></i></a>-->
          <!--<a href=""><i class="icofont-instagram"></i></a>-->
          <!--<a href=""><i class="icofont-linkedin"></i></a>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="member-info">-->
          <!--<h4>Amanda Jepson</h4>-->
          <!--<span>Accountant</span>-->
          <!--<p>Sint qui cupiditate. Asperiores fugit impedit aspernatur et mollitia. Molestiae qui placeat labore assumenda id qui nesciunt quo reprehenderit. Rem dolores similique quis soluta culpa enim quia ratione ea.</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
          <!--<div class="member" data-aos="fade-up" data-aos-delay="100">-->
          <!--<div class="member-img">-->
          <!--<img src="../assets/img/team/team-5.jpg" class="img-fluid" alt="">-->
          <!--<div class="social">-->
          <!--<a href=""><i class="icofont-twitter"></i></a>-->
          <!--<a href=""><i class="icofont-facebook"></i></a>-->
          <!--<a href=""><i class="icofont-instagram"></i></a>-->
          <!--<a href=""><i class="icofont-linkedin"></i></a>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="member-info">-->
          <!--<h4>Niall Katz</h4>-->
          <!--<span>Marketing</span>-->
          <!--<p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto consequatur quo praesentium nesciunt.</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
          <!--<div class="member" data-aos="fade-up" data-aos-delay="200">-->
          <!--<div class="member-img">-->
          <!--<img src="../assets/img/team/team-6.jpg" class="img-fluid" alt="">-->
          <!--<div class="social">-->
          <!--<a href=""><i class="icofont-twitter"></i></a>-->
          <!--<a href=""><i class="icofont-facebook"></i></a>-->
          <!--<a href=""><i class="icofont-instagram"></i></a>-->
          <!--<a href=""><i class="icofont-linkedin"></i></a>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="member-info">-->
          <!--<h4>Demi Lewis</h4>-->
          <!--<span>Financing</span>-->
          <!--<p>Amet labore numquam corrupti est. Nostrum amet voluptas consectetur dolor voluptatem architecto distinctio consequuntur eligendi. Quam impedit enim aut nesciunt aut dicta quam exercitationem. Reprehenderit exercitationem magnam. Ullam similique ut voluptas totam nobis porro accusamus nulla omnis.</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

        </div>

      </div>
    </section><!-- End Team Section -->
    <!-- The Modal -->
      <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <p>Please input the following:</p>
              <label for="name">Location:</label><br>
                <input type="text" id="location" name="location" value="" onkeyup = "updateLocation()"><br>
                <p id = "state"></p>
                 <p id = "error" style = "color: red"></p>
              <input type="submit" value="Submit" onclick = "submit()">
              <br>
              <input type="button" id = "close" value="Cancel" onclick = "closeModal()">

          </div>

      </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>COVID-HEAL</h3>
            <p>We are three high school students making an effort towards preventing the spread of COVID-19.
              Please support us by sharing this link with others.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/team">About us</a></li>
              <li><a href="/camera">Services</a></li>
              <li><a href="/termsofservice" target = "_blank">Terms of service</a></li>
              <li><a href="/privatepolicy" target = "_blank">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              700 East Cougar Trail <br>
              Hoffman Estates, IL<br>
              United States <br>
              <strong>Email:</strong> covid19heal@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>COVID-HEAL</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Labdhi Jain, Ashay Parikh, Sohum Bhole<br> S/O to BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/counterup/counterup.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>
