<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>COVID-HEAL</title>
  <meta name="description" content="Private Policy">
  <meta name="author" content="SitePoint">
<meta name="google-site-verification" content="_Hn1oHzeYV6GNDiZk1dFGrGvCdw6FPTNb5TZgjhL8CI"/>

  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155101938-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155101938-2');
</script>


  <style>
    body {
      text-align: center;
      font-family: 'Slabo 27px', serif;
      background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }

    p {
      color: black;
      font-weight: bold;
    }
    h3 {
      font-size: 25px;
      font-style: oblique;
    }

    h1 {
      font-size: 65px;
      font-weight: bold;
    }

    .rounded {
      padding: 20px;
      line-height: 2;
      border-style: dashed;
    }
  </style>

</head>

<body>

<h3>Please read these terms of service carefully before using www.covidheal.org operated by us.</h3>


<div class = "rounded">
<h3>Conditions of Use</h3>

<p>We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website,
  use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.</p>

<h3>Privacy Policy</h3>

<p>Before you continue using our website we advise you to read our privacy policy regarding our user data collection.
  It will help you better understand our practices.</p>

<h3>Copyright</h3>

<p>Content published on this website (digital downloads, images, texts, graphics, logos) is the property of us and/or
  its content creators and protected by international copyright laws. The entire compilation of the content found on this
  website is the exclusive property of us, with copyright authorship for this compilation by us.</p>

<h3>Communications</h3>

<p>The entire communication with us is electronic. Every time you send us an email or visit our website, you are going
  to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on
  our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news
  and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other
  communications we provide to you electronically meet the legal requirements that such communications be in writing.</p>

<h3>Applicable Law</h3>

<p>By visiting this website, you agree that the laws of the Illinois, United States of America, without regard to principles of conflict laws,
  will govern these terms of service, or any dispute of any sort that might come between us and you,
  or its business partners and associates.</p>

<h3>Disputes</h3>

<p>Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated
by state or federal court [your location] and you consent to exclusive jurisdiction and venue of such courts.</p>

<h3>Comments, Reviews, and Emails</h3>

<p>Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of
  intellectual property rights, invasive of privacy or injurious in any other way to third parties.
  Content has to be free of software viruses, political campaign, and commercial solicitation.

We reserve all rights (but not the obligation) to remove and/or edit such content.
When you post your content, you grant us non-exclusive, royalty-free and irrevocable right
to use, reproduce, publish, modify such content throughout the world in any media.</p>

<h3>License and Site Access</h3>

<p>We grant you a limited license to access and make personal use of this website.
You are not allowed to download or modify it. This may be done only with written consent from us.</p>

</div>
</body>
</html>
